@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  background-color: #1B1B1B;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.header {
  margin: 10px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}

h2 {
  font-size: x-large;
}

.header-buttons {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: medium;
}

.header-buttons a {
  margin-left: 20px;
}

.header-buttons a:hover {
  text-decoration: underline;
}

a, a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.footer {
  background-color: #363636;
  margin-top: 20px;
  height: 200px;
  box-shadow: 0px 0px 10px black;
}

.large-card {
  height: fit-content;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: darkolivegreen;
  box-shadow: 0px 0px 10px black;
  border-radius: 8px;
}

.large-card .text-container {
  width: 50%;
  padding: 20px;
}

.large-card .text-container p {
  margin: 0px;
  padding-bottom: 10px;
  font-size: smaller;
}

.medium-card {
  height: 140px;
  width: 240px;
  margin-right: 20px;
  background-color: darkolivegreen;
  box-shadow: 0px 0px 10px black;
  border-radius: 4px;
  flex: 0 0 auto;
  display: flex;
  flex-direction:column-reverse;
  background-size: cover;
}

.small-card {
  height: 140px;
  width: 110px;
  margin-right: 20px;
  background-color: darkolivegreen;
  box-shadow: 0px 0px 10px black;
  border-radius: 4px;
  flex: 0 0 auto;
  background-size: cover;
}

.large-card:hover, .medium-card:hover, .small-card:hover {
  box-shadow: inset 0px 0px 0px 3px white;
}

.section {
  width: 100%;
}

.section h4 {
  margin-left: 5%;
  margin-bottom: 10px;
}

.card-deck {
  overflow-x: auto;
  flex-wrap: nowrap;
  display: flex;
  padding: 10px;
  padding-left: 5%;
}

h5 {
  margin: 0px 10px 0px 10px;
  text-align: bottom;
  align-self: flex-start;
}

h6 {
  margin: 0px 10px 5px 10px;
  font-weight: normal;
  align-self: flex-start;
}

a:hover div h5 {
  text-decoration: none;
}


@media (min-width:600px) {

  .card-deck::-webkit-scrollbar {
    background-color: #363636;
    height: 10px;
  }

  .card-deck::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 8px;
  } 

}

@media (min-width:1100px) {
  .large-card .text-container p {
    font-size: small;
  }

  .large-card .text-container {
    width: 35%;
  }  
}

@media (min-width:2000px) {
  h2 {
    font-size: xx-large;
  }
}